/* Entire html and  body  styles   */

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  min-width: 375px;
  background: #191765;
  color: #fff;
  font-family: "Roboto", sans-serif;
}

@media (min-width: 768px) {
  body {
    padding: 10px 132px;
  }
}

/* Header styles  */
.header {
  height: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 44px;
}

.header .logo {
  width: 107px;
  height: 16px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 16px;
  margin-left: 24px;
  color: #fff;
  text-decoration: none;
}

.menu-container {
  margin-right: 40px;
}

.menu-container .bar {
  display: block;
  height: 3px;
  background: #acb7c3;
  width: 33.33px;
  margin-top: 10px;
}

.bar:first-of-type {
  margin-top: 0;
}

.header-links {
  display: none;
}

@media (min-width: 768px) {
  .header-links {
    display: flex;
  }

  .header-links a {
    text-decoration: none;
    color: inherit;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    transition: all 0.2s ease-in-out;
  }

  .header-links a:hover {
    color: #7d73fc;
    text-decoration: underline;
  }

  .header-links a:not(:last-of-type) {
    margin-right: 32px;
  }

  .menu-container {
    display: none;
  }

  .header .logo {
    margin-left: 0;
  }
}

/* hero section styles  */
.hero {
  position: relative;
}

.hero h1 {
  height: 55px;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 72px;
  margin: 63px 24px 0;
  text-align: center;
  letter-spacing: 0.37px;
  color: #7d73fc;
}

.hero h2 {
  width: 327px;
  height: 87px;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 12px auto 40px;
}

.hero p {
  height: 170px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #c8c8d4;
  margin-inline: auto;
  padding: 0 24px;
}

.blur-effect {
  position: absolute;
  width: 160px;
  height: 160px;
  left: -106px;
  top: -35px;
  background: #edecff;
  filter: blur(29px);
  border-radius: 50%;
}

@media (min-width: 768px) {
  .hero {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hero h1 {
    font-size: 60px;
    line-height: 60px;
  }

  .hero h2 {
    font-size: 32px;
    line-height: 46px;
  }

  .hero p {
    line-height: 32px;
    color: #b3bac5;
    width: 445px;
    margin-inline: 0;
    padding: 0;
  }

  .hero .blur-effect {
    left: -92px;
    top: 30px;
    filter: blur(20px);
  }
}

/* forming the seperator using pseudo code  */
.hero::after {
  content: '';
  height: 1px;
  background-color: #646369;
  display: block;
  margin-inline: 24px;
  margin-top: 33px;
}

@media (min-width: 768px) {
  .hero p::after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: #646369;
    margin-top: 50px;
  }
}

/* language, frameworks and skills section styles */
.stack-section {
  padding: 24px;
  position: relative;
}

@media (min-width: 768px) {
  .stack-section {
    display: flex;
    justify-content: center;
    padding: 0;
    margin-top: 10px;
  }
}

.stack-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 'lang frame' 'skills .';
  margin-left: 19px;
}

@media (min-width: 768px) {
  .stack-container {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 'lang frame skills';
    width: 445px;
    margin-left: -12px;
    gap: 60px;
  }

  .stack-container::after {
    content: '';
    display: block;
    width: 430%;
    height: 1px;
    margin-top: -20px;
    background-color: #646369;
  }
}

.stack-container .language {
  grid-area: lang;
}

.stack-container .frameworks {
  grid-area: frame;
}

.stack-container .skills {
  grid-area: skills;
}

.stack-container div h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0.7px;
  color: #9490ff;
}

@media (min-width: 768px) {
  .stack-container div h3 {
    font-weight: 700;
    font-size: 18px;
    line-height: 29px;
    color: #9390ff;
  }
}

/* correct no-descending specificity */
.project-stack-list li {
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  font-family: 'Inter', sans-serif;
  list-style-type: none;
  display: inline-block;
  padding: 12.5px 14px;
  margin-inline: -2px;
}

.contact-form ul li {
  list-style-type: none;
}

/* project section */

.stack-container div ul li {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  list-style-type: none;
  margin-top: 20px;
}

@media (min-width: 768px) {
  .stack-container div ul li {
    font-size: 14px;
    line-height: 25px;
    margin-top: 2%;
  }
}

/* the blur effect */
.stack-blur-effect {
  position: absolute;
  width: 68px;
  height: 68px;
  border-radius: 50%;
  right: -32px;
  top: 42px;
  background: #edecff;
  filter: blur(30px);
}

@media (min-width: 768px) {
  .stack-blur-effect {
    width: 190px;
    height: 190px;
    right: -149px;
    top: -142px;
    filter: blur(20px);
  }
}

/* separator after the stack section */
.stack-section::after {
  content: '';
  height: 1px;
  background-color: #646369;
  display: block;
  margin-top: 33px;
}

/* socials designs */
.socials {
  display: flex;
  margin-inline: auto;
  width: 200px;
  height: 40px;
  align-items: center;
  justify-content: space-between;
}

@media (min-width: 768px) {
  .socials {
    margin-inline: 0;
    margin-right: 24px;
  }
}

.socials a img {
  width: 38px;
  height: 34px;
  display: block;
}

/* arrow and work */
.work-container {
  padding-inline: 24px;
}

.first-work-container {
  display: none;
}

.work-container .arrow-svg {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  align-items: center;
}

.work-container .arrow-svg img {
  height: 23px;
}

.work-container .arrow-svg h3 {
  margin-left: 12px;
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  color: #a2a3ae;
}

@media (min-width: 768px) {
  .first-work-container {
    display: block;
  }

  .social-work-section {
    display: flex;
    align-items: center;
    margin-top: 50px;
    justify-content: space-between;
  }

  .work-container .arrow-svg {
    margin-top: 0;
  }
}

/* Portfolio projects section */
.portfolio-projects {
  padding-inline: 24px;
  margin-top: 82px;
}

.portfolio-projects .title {
  height: 104px;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 52px;
  color: #9490ff;
  text-transform: uppercase;
}

@media (min-width: 786px) {
  .portfolio-projects .title {
    text-transform: lowercase;
    font-weight: 700;
    font-size: 64px;
    line-height: 70px;
  }

  .portfolio-projects .title::first-letter {
    text-transform: uppercase;
  }
}

/* line seperator between header and the actual projects */
.title::after {
  content: '';
  height: 1px;
  background-color: #646369;
  display: block;
  margin-top: 24px;
  margin-bottom: 8px;
}

/* all the projects */
.projects-container {
  margin-top: 60px;
}

.projects-container .project {
  position: relative;
}

.project-display {
  height: 236px;
  background-color: #f9f9f9;
}

@media (min-width: 768px) {
  .projects-container .project {
    display: flex;
    gap: 24px;
    height: 448px;
    margin-bottom: 80px;
  }

  .project-display {
    flex: 5 1 20px;
    height: 100%;
  }

  .project-text {
    flex: 2 3 211px;
  }

  .pt-special {
    margin-top: -12px;
  }

  .order-start {
    order: 1;
  }

  .order-end {
    order: 2;
  }
}

.project-title {
  min-height: 50px;
  max-height: 80px;
  font-weight: 500;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
  display: flex;
  align-items: center;
  margin-block: 24px;
}

.project-description {
  height: 204px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #dcdce8;
}

@media (min-width: 768px) {
  .project-description {
    font-family: 'Roboto', sans-serif;
    font-size: 19px;
    line-height: 28px;
    color: #dfe1e6;
    height: none;
    height: 182px;
  }
}

.project-stack {
  margin-block: 24px;
}

.project-stack .project-stack-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.project-stack-list li:not(:last-of-type) {
  border-right: 1px solid #555;
  margin-right: 18%;
}

@media (min-width: 768px) {
  .project-stack-list li:not(:last-of-type) {
    border-right: 1px solid #555;
    margin-right: 26%;
  }
}

.project-btn {
  font-weight: 500;
  font-size: 12px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  padding: 10px;
  background: #7d73fc;
  border: none;
  color: #edecff;
  cursor: pointer;
  margin-bottom: 40px;
}

@media (min-width: 768px) {
  .project-btn {
    font-size: 15px;
    line-height: 24px;
    padding: 12px;
  }
}

.project-btn:hover {
  background: #7d73fc;
  box-shadow: 0 8px 16px rgba(125, 115, 252, 0.48);
  color: #fff;
}

.project-btn:disabled {
  color: #c8c8d4;
  background: #2a2b33;
}

/* contact info */
.contact {
  padding: 24px;
}

.contact-title {
  font-weight: 500;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  color: #9390ff;
  height: 35px;
  text-transform: uppercase;
  margin-bottom: 24px;
}

@media (min-width: 768px) {
  .contact-title {
    font-weight: 700;
    font-size: 40px;
    line-height: 24px;
    text-align: center;
    color: #9390ff;
    text-transform: lowercase;
  }

  .contact-title::first-letter {
    text-transform: uppercase;
  }
}

.contact-description {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #f5f5ff;
  margin-bottom: 40px;
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.contact-form ul li input,
.contact-form ul li textarea {
  width: calc(100vw - 65px);
}

@media (min-width: 768px) {
  .contact {
    display: flex;
    justify-content: center;
    padding: 0;
  }

  .contact-description {
    font-size: 19px;
    line-height: 28px;
    text-align: center;
    color: #ebebff;
  }

  .contact-form ul li input,
  .contact-form ul li textarea {
    width: 100%;
  }

  .contact-container {
    display: flex;
    flex-direction: column;
    margin-left: -48px;
    width: 684px;
  }
}

.contact-form .user-name,
.contact-form .user-name::placeholder {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #81818c;
  background: #fff;
  padding: 15px 10px;
  border: none;
  margin-bottom: 24px;
}

.contact-form .user-email,
.contact-form .user-email::placeholder {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  background: #fff;
  padding: 15px 10px;
  border: none;
  margin-bottom: 24px;
  color: #191765;
}

.user-text-area {
  padding: 10px;
  resize: vertical;
  font-size: 16px;
  font-family: 'Inter', sans-serif;
  letter-spacing: 0.4px;
}

.user-text-area:placeholder-shown {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #81818c;
}

.contact-form .see-projects {
  margin-top: 52px;
  padding: 12px;
  height: 48px;
  background: #7d73fc;
  width: 97px;
  margin-inline: auto;
}

@media (min-width: 768px) {
  .contact-form .see-projects {
    width: 160px;
    height: 48px;
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #fff;
    margin-inline: auto;
    display: block;
    margin-top: 89px;
    margin-bottom: 127.5px;
  }
}

.contact-form .see-projects:active {
  background: #5e42d7;
  box-shadow: none;
}

/* end of section - footer seperator */
.contact::after {
  content: '';
  height: 1px;
  background-color: #3a3837;
  display: block;
  margin-bottom: 8px;
  margin-inline: -24px;
  margin-top: 30px;
}

/* footer styles */
.footer p {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #ebebff;
  cursor: pointer;
}

.footer::after {
  content: '';
  height: 5px;
  display: block;
  background: #0d151e;
  border-radius: 10px;
  width: 134px;
  margin: 27px auto 8px;
}

.footer-separator {
  display: none;
}

@media (min-width: 768px) {
  .footer {
    display: flex;
    justify-content: center;
  }

  .footer::after {
    display: none;
  }

  .footer-separator {
    display: block;
    width: calc(100% + 284px);
    height: 1px;
    margin-left: -142px;
    background: #3a3837;
    margin-bottom: 22px;
  }
}

/* Adding the blur effects */
.blur-eff-one {
  background: #edecff;
  width: 40px;
  height: 483px;
  position: absolute;
  top: 115px;
  left: 22px;
  transform: rotate(-36deg);
  border-radius: 50%;
  filter: blur(20px);
}

@media (min-width: 768px) {
  .blur-eff-one {
    width: 57px;
    height: 700px;
    top: -156px;
    left: -97px;
    z-index: -1;
  }
}

.blur-eff-two {
  background: #edecff;
  width: 71px;
  height: 262px;
  position: absolute;
  top: 151px;
  right: -28px;
  transform: matrix(-0.84, -0.54, -0.54, 0.84, 0, 0);
  border-radius: 50%;
  filter: blur(20px);
}

@media (min-width: 768px) {
  .blur-eff-two {
    width: 108px;
    height: 402px;
    top: 109px;
    right: -97px;
    z-index: -1;
  }
}

.blur-eff-three {
  position: absolute;
  background: rgba(237, 236, 255, 0.3);
  width: 300px;
  height: 155px;
  top: 257px;
  left: -109px;
  border-radius: 50%;
  filter: blur(20px);
}

@media (min-width: 768px) {
  .blur-eff-three {
    top: 217px;
    left: -152px;
    z-index: -1;
  }
}

.blur-eff-four {
  position: absolute;
  width: 378px;
  height: 102px;
  background: #edecff;
  top: 297px;
  right: -261px;
  transform: rotate(18deg);
  border-radius: 50%;
  filter: blur(20px);
}

@media (min-width: 768px) {
  .blur-eff-four {
    width: 916px;
    height: 246px;
    z-index: -1;
    top: -34px;
    right: -681px;
  }
}

/* Implementing transitions and animations  */

@keyframes logo-frame {
  0% {
    position: relative;
    left: -238px;
  }

  100% {
    position: relative;
    left: 0;
  }
}

.animate-logo {
  animation-name: logo-frame;
  animation-duration: 0.4s;
  animation-timing-function: ease-in-out;
  animation-delay: 0;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-direction: normal;
}

svg {
  transition: all 0.2s ease-in-out;
}

.work-svg {
  fill: white;
}

.svg-icon {
  fill: #fff;
}

svg:hover {
  fill: #7d73fc;
}
